
<div class="card border-0 shadow">
    <div class="card-header bg-primary">
        <div class="text-center">
            <h2 class="text-light">Order List</h2>
        </div>
    </div>
    <div class="card-body">
        <table id="orderTbl" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}