<div class="container row mt-5">
    <div class="col-12 text-center">
        <h1 class="text-primary">Thank You for Your Order!</h1>
    </div>
    <div class="col-12 text-center mt-0 p-0">
        <span class="text-primary"><i class="bi bi-emoji-smile" style="font-size:100px"></i></span>
    </div>
    <div class="col-12 text-center">
        <span class="text-primary" style="font-size:20px">Your Order Number is: <span class="text-info">12345</span> </span>
    </div>
</div>